<?xml version="1.0"?>
<configuration>
  <system.webServer>
    
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    <handlers>
      <add name="Service" verb="*" path="*" type="Service" resourceType="Unspecified"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>