/* This is the CSS file for styling all of the websites */
body{
	background-color: #99E699;
	/*background-image: url("./pictures/landscape-background4.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;*/
}

h1 {
	color: brown;
}

p {

}

#banner {
	background-image: url("./pictures/landscape-background4.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #CC0000;
}

#footer {
	color:white;
}

#buttons {
	position:relative;
	left: 82%;
}

#admin {

}
