#logo {
    float:left;
    vertical-align: middle;
}

#header {
    background-color: #99E699;
    color: #008000;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 805px;
    line-height:150px;
}

/*#page-header {
    background-color:#99E699;
}*/

.jumbotron {
    background-color: #99E699;
}

h1 {
    text-align: center;
}

a#jumbotron:link    {color:brown; text-decoration:none}
a#jumbotron:visited {color:brown; text-decoration:none}
a#jumbotron:hover   {color:brown; text-decoration:none}
a#jumbotron:active  {color:brown; text-decoration:none}

#system_inputs {
    background-color: #FFFFFF;
    position: absolute;
 /*   top: 500px;
    left: 0px;*/
    height: 400px;
    width: 400px;
/*    margin: 5px;
    padding: 12px;*/
    border: 1px solid black;
}

#output_display {
    background-color: #FFFFFF;
    position: absolute;
/*    top: 500px;
    left: 400px;*/
    height: 400px;
    width: 400px;
/*    margin: 5px;
    padding: 12px;*/
    border: 1px solid red;
}

#footer {
    color:white;
    background-color:#046405;
}
